body {
  background-color: gray;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}
#title1 {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 38px;
  font-weight: bold;
}
#title2 {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
  margin-top: 150px;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.footer2 {
  justify-content: center;
  display: flex;
  margin-top: 400px;
}
.foto {
  border: black;
  border-width: 100px;
  border-radius: 280px;
  height: 150px;
  width: 150px;
  margin-left: 80px;
  margin-top: 40px;
}
.imagem2:hover {
  transform: scale(1.5, 1.5);
  margin-bottom: 1rem;
  box-shadow: black 10px;
  transition: 2s;
  justify-content: center;
}
.imagem1:hover {
  transform: scale(1.5, 1.5);

  box-shadow: black 10px;
  transition: 2s;
  justify-content: center;
}
.imagem1 {
  margin-left: 300px;
  margin-top: 55px;
}
.imagem2 {
  margin-left: 150px;
  margin-top: 55px;
}
.tw {
  margin-left: 450px;
  margin-top: 100px;
}
.yt {
  margin-left: 430px;
  margin-top: 100px;
}
