body {
  background-color: gray;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}
#title1 {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 38px;
  font-weight: bold;
}
#title2 {
  color: black;
  display: flex;
  justify-content: center;
  font-size: 38px;
  font-weight: bold;
}
h2 {
  display: flex;
  justify-content: center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.footer2 {
  justify-content: center;
  display: flex;
  margin-top: 100px;
}
#textarea {
  height: 200px;
  width: 200px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px 3px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.formulario {
  color: black;
  display: flexbox;
  justify-content: center;
}
.labels {
  display: grid;
  justify-content: left;
  margin-left: 520px;
  margin-top: -568px;
  margin-bottom: 100px;
}
.inputs {
  display: grid;
  justify-content: center;
  margin-bottom: 250px;
}
#phone {
  margin-bottom: 0px;
}
#mail {
  margin-bottom: 0px;
}
#Name {
  margin-bottom: 0px;
}
#textarea {
  margin-bottom: -80px;
}
.Name2 {
  margin-bottom: 4px;
}
.Phone2 {
  margin-bottom: 75px;
}
.Mail2 {
  margin-bottom: 5px;
}
